body {
  background-color: black;
}

.form {
  text-align: center;  
  margin-top: 5px;
}

input {
  width: 55%;
}
.title {
  width: 45%;
}
.post {
  width: 10%;
}

.img {
  background-color: white;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
img {
  margin: 5px;
  width: 450px;
  height: 350px;
}

.posts_list {
  list-style-type: none;
  padding-left: 0;
}

